# you need to create these with Vault
ansible/files/ssh/trusted-user-ca-keys
ansible/files/ssh/trusted-user-ca-keys.pub

Brewfile.lock.json
.vagrant
output-virtualbox-iso
packer/
packer_cache/
*.html
roles/
